processed_data/
processed_data_maiken/
__pycache__/
combined_coral_data.csv
PhysStates_2019.nc
samp_2D_jan_jun.nc
.DS_Store
*.gfs
*.nc
raw_data/EMOD-tifs/
.venv/
.ipynb_checkpoints/
statistical_northness_hourly.csv
current_speed_hourly.csv
statistical_northness_hourly.csv
current_speed_hourly.csv
statistical_northness_hourly.csv
current_speed_hourly.csv
