dataset.nc
KystOgFiskeri_50_Trondelag_25833_Korallrev_GML.gml
KystOgFiskeri_50_Trondelag_25833_Korallrev_GML.gfs
Natur_0000_Norge_25833_SarbareMarineBunndyrObs_GML.gfs
Natur_0000_Norge_25833_SarbareMarineBunndyrObs_GML.gml
KystOgFiskeri_15_More_og_Romsdal_25832_Korallrev_GML.gfs
KystOgFiskeri_15_More_og_Romsdal_25832_Korallrev_GML.gml
KystOgFiskeri_18_Nordland_25833_Korallrev_GML.gfs
KystOgFiskeri_18_Nordland_25833_Korallrev_GML.gml
KystOgFiskeri_46_Vestland_25832_Korallrev_GML.gfs
KystOgFiskeri_46_Vestland_25832_Korallrev_GML.gml
KystOgFiskeri_50_Trondelag_25832_Korallrev_GML.gfs
KystOgFiskeri_50_Trondelag_25832_Korallrev_GML.gml
KystOgFiskeri_55_Troms_25833_Korallrev_GML.gfs
KystOgFiskeri_55_Troms_25833_Korallrev_GML.gml
KystOgFiskeri_56_Finnmark_25833_Korallrev_GML.gfs
KystOgFiskeri_56_Finnmark_25833_Korallrev_GML.gml
KystOgFiskeri_63_Norskehavet_25832_Korallrev_GML.gfs
KystOgFiskeri_63_Norskehavet_25832_Korallrev_GML.gml
KystOgFiskeri_64_Barentshavet_vest_25833_Korallrev_GML.gfs
KystOgFiskeri_64_Barentshavet_vest_25833_Korallrev_GML.gml
PhysStates.nc
BioStates.nc
raw_data/
processed_data/
__pycache__/
combined_coral_data.csv
.DS_Store
raw_data/
processed_data/
__pycache__/